/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
   }
   #header{
    min-height: 150px;
    margin: 20px 20px 20px 20px;
    display: block;
    background-color: green;
   }
   #navigation{
    min-height: 230px;
    vertical-align: top;
    display: inline-block;
    width: 200px;
    padding: 40px 0px 0px 0px;
    margin: 0px 20px 20px 20px;
    background-color: blue;
   }
   #main_content{
    min-height: 300px;
    display: inline-block;
    width: 675px;
    padding: 0px 0px 40px 10px;
    background-color: red;
   }
   .subcontents{
    min-height: 200px;
    display: inline-block;
    width: 200px;
    margin: 10px 5px 10px 5px;
    background-color: yellow;
   }
   #advertisement{
    min-height: 100px;
    display: inline-block;
    width: 630px;
    background-color: purple;
    margin: 10px 5px;
   }